.nav-link {
font-size: large;
text-align: right;
display: flex;
justify-content: flex-end;
/* color: #000; */
}

.none {
    width: 405px;
    height: 300px;
    
}

.main-blok {
    width: 100%;
}

.logo {
    color: black;
    text-decoration: none;
    font-size: 70px;
    font-family: Verdana, Geneva, Tahoma, sans-serif
    
}
.Carousel__ItemSet-sc-hyhecw-3 img:hover {
    transition: opacity .5s linear;
    transform: scale(1.05);
    opacity: 0.7;
}
.Carousel__ItemSet-sc-hyhecw-3{
    margin-bottom: 40px;
    margin-top: 30px;
}
.logo:hover {
    text-decoration: none;
    color: rgb(255, 255, 255)
}
.navbar {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 40px;
    border: 0;
    padding: 0;
    background-color: rgba(189, 189, 189, 0.606);

}
.me-auto {
    position: relative;
    right: -58%;
}

.mgL {
    margin-left: 16rem;
}

.inputs {
    width: 500px;
    display: flex;
    flex-direction: column;
    align-content: center;
    position: relative;
    right: -382px;
}
.addButton {
    --b: 4px; /* the thickness */
    width: 40px; /* the size */
    aspect-ratio: 1;
    border: 10px solid #000; /* the outer space */
    background:
      conic-gradient(from 90deg at var(--b) var(--b),#000 90deg,#fff 0) 
      calc(100% + var(--b)/2) calc(100% + var(--b)/2)/
      calc(50%  + var(--b))   calc(50%  + var(--b));
    display: inline-block;
    border-radius: 0;
    margin: 10px;
    /* position: relative; */
    /* left: 95%; */
}
.head {
    display: flex;
    justify-content: space-between;
}
.buttons {
    display: flex;
    justify-content: space-evenly;
    --bs-btn-color: #fff;
    --bs-btn-bg: #212529;
    --bs-btn-border-color: #212529;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #1c1f23;
    --bs-btn-hover-border-color: #1a1e21;
    --bs-btn-focus-shadow-rgb: 66,70,73;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #1a1e21;
    --bs-btn-active-border-color: #191c1f;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #212529;
    --bs-btn-disabled-border-color: #212529;
}
.onebutton {
    background-color: #212529;
    width: 300px;
   color: white;
   border-radius: 6px;
   border: none;
   height: 40px;
   text-align: center;
   margin-bottom: 40px;
}
/* .btn-dark {
    width: 400px;
} */
      
/* .header {
color: red;
} */
.oneButton {
    width: 50px;
}
/* .container {
    width: 100%;
} */

.margin {
    margin-top: 25px
}
